@{
    ViewBag.Title = "AdventureWorks Reporting System";
}

<h2>AdventureWorks Reporting System</h2>

<p><a href="~/OldSkool/Index">Old Skool Data Access</a></p>

<p><a href="~/PetaPocoReport/Index">PetaPoco Report</a></p>

<p><a href="~/SalesReason/Index">Sales Reason Manager</a></p>